@use '../base/variables' as v;
@use '../base/mixins' as m;

.planet {
    //* Display
    display: flex;
    flex-direction: column;

    //* Size
    max-width: 1100px;
    width: 100%;

    //* Space
    margin: 0 auto;

    .box__planet {
        //* Display
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        //* Size
        min-height: 540px;

        //* Space
        margin-bottom: 0px;

        //* Transition
        transition: all ease-in-out 0.3s;

        @include m.tablet {
            //* Display
            flex-direction: column;

            //* Size
            min-height:auto;
        }

        @include m.mobile {
            //* Space
            margin: 0px;
        }
    }

    .footer__planet {
        //* Display
        display: grid;
        grid-template-columns: repeat(auto-fill, 255px);
        justify-content: space-between;
        row-gap: 30px;
        
        //* Size
        width: 100%;

        //* Transition
        transition: all ease-in-out 0.3s;

        //* Space
        margin-top: 50px;

        @include m.tablet {
            //* Space
            margin-top: 0;

            //* Display
            grid-template-columns: repeat(auto-fill, 164px);
        }

        @include m.mobile {
            //* Display
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            row-gap: 10px;

            //* Space
            margin-top: 0;
        }
    }
}
