@use '../../base/variables' as v;
@use '../../base/mixins' as m;

.button-primary {
    //* Size
    height: 48px;
    width: 100%!important;

    //* Space
    padding-left: 30px;
    margin-bottom: 20px;

    //* Fonts
    text-align: start;

    /* Borde y fondo */
    border: 1px solid v.$dark-gray;
    background-color: transparent;
    border-radius: 0px;

    /* Texto y color */
    color: v.$white;

    /* Estilos para h3 dentro del botón */
    h3 {
        display: inline-block;
        margin: 0;
    }

    /* Estilos para span dentro del botón */
    span {
        margin-right: 30px;
    }

    &:last-of-type{
        margin-bottom: 0px;
    }

    /* Estado de hover */
    &:hover {
        background-color: v.$dark-gray;
        border-color: v.$dark-gray;
        cursor: pointer;
    }

    /* Estado de clic */
    &:active {
        background-color: blue;
        border: none;
    }

    /* Estado de enfoque */
    &:focus {
        outline: none;
    }

    @include m.tablet {
        height: 40px;
        margin-bottom: 16px;
    }
}