@use '../../base/variables' as v;
@use '../../base/mixins' as m;

.footer__statistic{
    height: 128px;
    // background-color: blue;
    display: flex;
    padding: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    border: 1px solid v.$dark-gray;
    transition: all ease-in-out 0.3s;

    @include m.tablet{
        height: 88px;
        .title{
            line-height: 16px;
            font-size: 8px;
        }
        .info{
            font-size: 24px;
            line-height: 42px;
        }
    }
}