@use '../../base/variables' as v;
@use '../../base/mixins' as m;

.footer__statistic{
    height: 128px;
    display: flex;
    padding: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    border: 1px solid v.$dark-gray;
    transition: all ease-in-out 0.3s;

    @include m.tablet{
        height: 88px;
        .title{
            // font-size: 8px;
            line-height: 16px;
            letter-spacing: 0.73px;
        }
        .info{
            font-size: 24px;
            line-height: auto;
            letter-spacing: -0.9px;
        }
    }

    @include m.mobile{
        max-width: 327px;
        width: 100%;
        height: 48px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        padding-right: 25px;
        padding-left: 25px;

        .title{
            font-size: 10px;
            line-height: 16px;
            letter-spacing: 0.73px;
        }
        .info{
            font-size: 20px;
            line-height: 20px;
            letter-spacing: -0.75px;
        }
    }
}